<!DOCTYPE html>
<html>
    <head>
        <title>ログイン</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>ログイン</h1>
        <form onsubmit="return submitfunc()" action="" method="">
            <table>
                <tr>
                    <td>ユーザーID</td><td colspan="3"></td>
                </tr>
                <tr>
                    <td><input type="text" size="30px" id="userid"></td><td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="4" id="userid-comment"></td>

                </tr>
                <tr>
                    <td>パスワード</td><td colspan="3"></td>
                </tr>
                <tr>
                    <td><input type="text" size="30px" id="password"></td><td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="4" id="password-comment"></td>
                </tr>
                <tr>
                    <td colspan="2"></td><td><input type="submit" value="ログイン"></td>
                </tr>
                <tr>
                    <td colspan="2"></td><td><a href="new_member.html">新規会員の方はこちら</a></td>
                </tr>
            </table>
        </form>
    </body>
</html>